 #set($page_title="气象平台-站点分类管理")
 #set($csslist=["jquery_dialog.css"])
   <table id="notifications" class="display" cellspacing="0" width="100%">
        <thead>
        	<tr>
   			<th>类型</th>
   			<th>消息</th>
   			<th>日期</th>
   			</tr>
        </thead>
  </table>
#parse('default/common-js.vm')
<script type="text/javascript" src="/script/jquery_dialog.js"></script>
<script type="text/javascript" src="/script/jquery.nicescroll.min.js "></script>
<script type="text/javascript" src="/script/notification.js"></script>