 #set($page_title="气象平台-数据统计")
 #set($csslist=["jquery.mloading.css","jquery-ui.css","jquery-ui-timepicker-addon.min.css","select2.min.css","statistics.css"])
 #macro(findStatisticsStation $Id)
	#foreach($station in $Stations)
		 #if($station.weatherStationCategoryId == $Id)	
		     <option value="$station.weatherStationId">$!{station.weatherStationName}</option>
		 #end 	     
	#end
#end
  <div class="search">
 <div class="left">开始时间：<input type="text" id="startdate" class="date" placeholder="选择开始时间" value="$!{StartDate}"/></div>
  <div>结束时间：<input type="text" id="enddate" class="date"  placeholder="选择结束时间" value="$!{EndDate}"/></div>
 </div>
  <div class="search">
 <div class="left">选择站点：<select class="combox" id="station" name="station" multiple>   
			#foreach($rootCatgory in $Categories) 
			     <optgroup label="$!{rootCatgory.weatherStationCategoryName}">  
						#findStatisticsStation(${rootCatgory.weatherStationCategoryId})
				 </optgroup>  
		#end
</select></div>
  <div><input type="button" class="button" value="查询" id="btnSearch"><input type="button" class="export" value="导出" id="btnExport"></div>
 </div>
 <hr class="line">
   <table id="statistics" class="display" cellspacing="0" width="100%" >
        <thead>
			<th>站点名称</th>
			<th>站点编号</th>
			<th>所属分类</th>
			<th>及时数</th>
			<th>及时率</th>
			<th>逾时数</th>
			<th>逾时率</th>
			<th>缺报数</th>
			<th>缺报率</th>
			<th>总数</th>
   			</tr>
        </thead>
  </table>
#parse('default/common-js.vm')
<script type="text/javascript" src="/script/jquery.mloading.js"></script>
<script type="text/javascript"  src="/script/select2.full.min.js"></script>
<script type="text/javascript"  src="/script/select2/i18n/zh-CN.js"></script>
<script type="text/javascript" src="/script/jquery-ui.min.js"></script>
<script type="text/javascript" src="/script/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="/script/jquery-ui-timepicker-zh-CN.js"></script>
<script type="text/javascript" src="/script/statistics.js"></script>