 #set($page_title="气象平台-用户组管理")
  <table id="groups" class="display" cellspacing="0" width="100%" data-update="$!{Update}" data-delete="$!{Delete}">
        <thead>
   			<th>用户组名称</th>
   			<th>创建日期</th>
   			<th>创建人</th>
   			<th>最近一次更新日期</th>
   			<th>最近一次更新人</th>
   			 #if($!{Update}==1 or $!{Delete})
		 	<th></th>
		 	#end 
   			</tr>
        </thead>
  </table>
#parse('default/common-js.vm')
<script type="text/javascript" src="/script/select2.full.min.js"></script>
<script type="text/javascript" src="/script/select2/i18n/zh-CN.js"></script>
<script type="text/javascript">
var usercategories=[],userstations=[];
</script>
<script type="text/javascript" src="/script/usergroup.js?v=1"></script>