<html>
<head>
    <title>$!page_title</title>
    <base href="$!BasePath" /> 
 	#include("default/header.vm")
<link href="/resources/css/font-awesome.min.css" rel="stylesheet" />
<!--[if IE 7]><link rel="stylesheet" href="/resources/css/font-awesome-ie7.min.css"><![endif]-->
<!--[if lte IE 8]><script type="text/javascript" src="/script/selectivizr-min.js"></script><![endif]-->
 	  <link rel="stylesheet" href="/resources/css/jquery.mloading.css" />
#foreach($cus_css in $customePathlist)
	<link  type="text/css" rel="stylesheet" href="$cus_css"/>
#end
#foreach($css in $csslist)
	<link  type="text/css" rel="stylesheet" href="/resources/css/$css"/>
#end
</head>
<body>
 <div class="temptdlsan"></div> 
${screen_content}
</body>
</html>