category4{padding:17px 27px;}
.cate4a{overflow:hidden;padding-top:21px;padding-bottom:39px;border-bottom:1px dashed #b8b9b9;}
.cate4a1{float:left;color:#444444;font-size:13px;line-height:31px;}
.cate4a2{float:left;}
.cate4a3{float:left;margin-left:15px;padding-top:7px;}
.cate4a4{float:left;margin-left:32px;width:112px;height:34px;background-color:#007ee5;line-height:34px;color:#fff;text-align:center;font-size:13px;}
.cate4a5{float:left;margin-left:7px;width:152px;height:34px;background-color:#007ee5;line-height:34px;color:#fff;text-align:center;font-size:13px;}
.cate4a2slt{width:422px;height:31px;line-height:31px;}
.cate4b{}
.cate4tab{width:100%;}
.cate4tab tr td{vertical-align:top;}
.cate4tab tr td.cate4td1{}
.cate4tab tr td.cate4td2{table-layout:fixed;width:238px;padding-top:27px;}
.cate4td1dv{}
.cate4td1d1{padding-top:33px;overflow:hidden;padding-left:9px;}
.cate4td1d1ia{float:left;margin-right:34px;}
.cate4td1d1ib{float:left;margin-right:34px;padding-top:3px;}
.cate4td1d1ic{float:left;margin-right:34px;padding-top:3px;}
.cate4td1d1ia a{display:block;}
.cate4td1d1ib a{display:block;}
.cate4td1d1ic a{display:block;}
.cate4td1d1iaio1{width:43px;height:35px;background:url(../images/category4tb2.png) no-repeat;}
.cate4td1d1iaio1.on{background-image:url(../images/category4tb8.png)}
.cate4td1d1iaio2{width:40px;height:29px;background:url(../images/category4tb3.png) no-repeat;}
.cate4td1d1iaio2.on{background-image:url(../images/category4tb9.png)}
.cate4td1d1iaio3{width:44px;height:29px;background:url(../images/category4tb4.png) no-repeat;}
.cate4td1d1iaio3.on{background-image:url(../images/category4tb10.png)}
.cate4td1d2{padding-bottom:10px;}
.cate4td1d2a{overflow:hidden;padding-top:28px;padding-left:9px;}
.cate4td1d2ap1{float:left;font-size:15px;color:#1f2c33;line-height:15px;}
.cate4td1d2ap2{float:left;font-size:15px;color:#1f2c33;margin-left:17px;line-height:15px;}
.cate4td1d2ap3{float:left;font-size:12px;color:#c0c0c0;margin-left:19px;line-height:12px;padding-top:1px;}
.cate4td1d2bs{overflow:hidden;}
.cate4td1d2b{float:left;margin-right:0px;}
.cate4td1d2b1{width:239px;height:165px;padding-left:9px;padding-top:9px;padding-right:9px;padding-bottom:8px;}
.cate4td1d2b1:hover{background:url(../images/category4tb7.png) no-repeat;}
.cate4td1d2b1:hover .cate4td1d2b1p{display:block;}
.cate4td1d2b1j{width:239px;height:165px;padding-left:9px;padding-top:9px;padding-right:9px;padding-bottom:8px;}
.cate4td1d2b1j:hover{background:url(../images/category4tb7.png) no-repeat;}
.cate4td1d2b1j:hover .cate4td1d2b1p{display:block;}
.cate4td1d2b1j:hover .cate4td1d2b1hidf{display:none;}
.cate4td1d2b1j:hover .cate4td1d2b1hidf2{display:block;}
.cate4td1d2b1hid{overflow:hidden;border-radius:6px;width:239px;height:165px;position:relative;}
.cate4td1d2b1hidm{position:relative;}
.cate4td1d2b1g{width:300px;}
.cate4td1d2b1hidzc{width:239px;height:165px;position:absolute;left:0px;top:0px;width:100%;}
.cate4td1d2b1hidf{width:58px;height:58px;position:absolute;left:90px;top:54px;z-index:5;cursor:pointer;}
.cate4td1d2b1hidf2{width:58px;height:58px;position:absolute;left:90px;top:54px;z-index:5;cursor:pointer;display:none;}
.cate4td1d2b1hidtm{position:absolute;left:0px;top:0px;width:239px;height:165px;background-color:#000;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(opacity=50);}
.cate4td1d2b1p{position:absolute;bottom:0px;left:0px;height:28px;background-color:#007ee5;width:100%;display:none;}
.cate4td1d2b1p1{float:left;font-size:12px;color:#fff;line-height:28px;padding-left:6px;}
.cate4td1d2b1p2{float:left;font-size:12px;color:#fff;line-height:28px;padding-left:25px;}
.cate4td1d2b1p3{float:left;font-size:12px;color:#fff;line-height:28px;padding-left:25px;}
.cate4td1d2b1p4{float:left;font-size:12px;color:#fff;line-height:28px;padding-left:25px;}
.cate4td1d2b2{color:#1f2c33;font-size:12px;line-height:12px;padding-left:9px;font-weight:bold;}

.cate1td4dv{}
.cate1td4dva{border-radius:6px;overflow:hidden;}
.cate1td4dva1{height:47px;width:100%;text-indent:15px;background-color:#007ee5;color:#fff;font-size:15px;line-height:47px;}
.cate1td4dva2{background-color:#fff;border:1px solid #d7d7d7;border-top:0px solid #fff;overflow:hidden;overflow:hidden;padding-top:9px;}
.cate1td4dva2a{}
.cate1td4dva2a1{padding-left:19px;padding-top:10px;overflow:hidden;cursor:default;padding-bottom:10px;}
.cate1td4dva2a1a{float:left;width:13px;height:13px;background:url(../images/category1tb2.png) 0px 0px no-repeat;}
.cate1td4dva2a1a.on{background:url(../images/category1tb3.png) 0px 2px no-repeat;}
.cate1td4dva2a1b{float:left;font-size:13px;color:#3e454d;line-height:10px;font-weight:bold;margin-left:6px;}
.cate1td4dva2a2{padding-left:39px;padding-top:0px;display:none;}
.cate1td4dva2a2tab{width:100%;}
.cate1td4dva2a2tab tr td{font-size:13px;padding-bottom:10px;padding-top:12px;}
.cate1td4dva2a2tab tr td.cate1td4dva2a2td4{table-layout:fixed;width:42px;}
.cate1td4dva2a2tab tr.on td.cate1td4dva2a2td1{color:#007ee5;}
.cate1td4dva2a2tab tr.on td.cate1td4dva2a2td2{color:#007ee5;}
.cate1td4dvb{border-radius:6px;overflow:hidden;margin-top:13px;}
.cate1td4dvba{height:47px;width:100%;text-indent:15px;background-color:#007ee5;color:#fff;font-size:15px;line-height:47px;}
.cate1td4dvbap1{color:#fff;}
.cate1td4dvbb{background-color:#fff;border:1px solid #d7d7d7;border-top:0px solid #fff;overflow:hidden;overflow:hidden;padding-top:12px;padding-left:20px;padding-bottom:11px;}
.cate1td4dvbbd1{font-size:13px;color:#3e454d;line-height:13px;padding:7px 0px;}
.bofang{padding-right:18px;}
.bozuie{padding-top:28px;padding-bottom:15px;overflow:hidden;}
.bofangsp{width:100%;max-height:574px;overflow:hidden;border-radius:6px;overflow:hidden;}
.bofangspi{width:100%;}
.bofangkzan{overflow:hidden;width:100%;}
.bofangkztab{width:100%;}
.bofangkztab tr td.bofangkztd1{}
.bofangkztab tr td.bofangkztd2{padding-top:62px;}
.bofangkztab tr td.bofangkztd3{padding-top:62px;}
.bofangfx{padding-top:22px;overflow:hidden;padding-left:10%;float:left;width:201px;}
.zuo{float:left;width:34px;height:67px;margin-top:23px;margin-right:18px;}
.zhong{float:left;}
.you{float:left;width:34px;height:67px;margin-top:23px;margin-left:18px;}
.shang{width:67px;height:34px;}
.xia{width:67px;height:34px;margin-top:46px;}
.bofangbtn1{float:left;width:112px;height:34px;background-color:#52be80;text-align:center;line-height:34px;color:#fff;font-size:13px;}
.bofangbtn2{float:left;width:112px;height:34px;background-color:#007ee5;text-align:center;line-height:34px;color:#fff;font-size:13px;}
.bofangbtn3{float:left;width:112px;height:34px;background-color:#ff463b;margin-left:2%;text-align:center;line-height:34px;color:#fff;font-size:13px;}
.bofangbtn4{float:left;width:112px;height:34px;background-color:#52be80;margin-left:2%;text-align:center;line-height:34px;color:#fff;font-size:13px;}
.photoxs{display:none;}
.guanbi{position:absolute;right:50px;top:43px;width:45px;height:45px;z-index:13;}
.guanbimg{width:40px;}
.touming{position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:#000;opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7;filter:alpha(opacity=70);z-index:11;}
/*
.gundong{position:fixed;left:50%;top:50%;z-index:13;width:900px;height:600px;margin-left:-500px;margin-top:-305px;}
*/
.gundong{position:fixed;z-index:13;}

.gd_tu{width:800px;height:530px;overflow:hidden;float:left;margin:0px 30px;position:relative;}
.gd_tul{position:absolute;left:-800px;top:0px;}
.gd_tul li{width:800px;height:530px;float:left;}
.gd_tul li img{width:800px;}
.gd_anl{float:left;padding-top:233px;}
.gd_anr{float:left;padding-top:233px;}
.gd_anli{width:40px;}
.gd_anri{width:40px;}