@charset "utf-8";
*{padding:0;margin:0;list-style:none;text-decoration:none;outline:none;border-spacing:0px;border-collapse:collapse;font-family:"微软雅黑";border:0px solid #fff;border:none;}
html{height:100%;}
body{height:100%;background-color:#f5f7f8;/*min-width:1258px;*/}
img{}
.template{height:100%;}
.temptab{width:100%;height:100%;}
.temptab>tbody>tr>td{vertical-align:top;}
.temptab>tbody>tr>td.temptdl{width:280px;table-layout:fixed;background-color:#1f2c33;position:relative;}
.logo{height:95px;text-align:center;width:100%;overflow:hidden;}
.logotab{width:100%;}
.logotab tr td{height:95px;}
.logotab tr td img{width:230px;}
.category{}
.cateul{}
.cateul li{height:53px;}
.cateul li a{display:block;height:53px;padding-left:42px;border-left:10px solid #1f2c33;}
.cateul li a.on{border-left:10px solid #35c4f9;background-color:#007ee5;}
.catedva{float:left;width:30px;height:30px;margin-top:16px;text-align:center;}
.catedvb{float:left;margin-left:20px;line-height:53px;color:#fff;font-size:15px;}

.temptdrs{}
.temptdrt{height:95px;border-bottom:1px solid #ebebeb;background-color:#ffffff;}
.temptdrtab{width:100%;}
.temptdrtab tr td{height:94px;padding-right:10px;padding-left:27px;}
.temptdrtab tr td.temptdrtd2{table-layout:fixed;}
.temptdrta{float:left;padding-top:30px;width:477px;}
.temptdrtb{float:right;padding-right:51px;}
.temptdrtbus{padding-top:37px;float:left;margin-right:51px;}
.temptdrtbu{position:relative;}
.temptdrtbip{}
.temptdrtbsp1{position:absolute;right:-12px;top:-12px;width:25px;height:25px;background-color:#007ee5;line-height:25px;text-align:center;color:#fff;font-size:11px;border-radius:15px;}
.temptdrtbsp2{position:absolute;right:-12px;top:-12px;width:25px;height:25px;background-color:#ff0000;line-height:25px;text-align:center;color:#fff;font-size:11px;border-radius:15px;}
.temptdrtbnace{float:left;}
.temptdrtbname{float:left;color:#007ee5;font-size:18px;line-height:18px;padding-top:33px;}
.temptdrtbzuxo{float:left;color:#1f2c33;font-size:13px;line-height:13px;padding-top:37px;margin-left:36px;cursor:pointer;}
.temptdrifrm{}
.temptdlsan{position:fixed;width:12px;height:83px;background:url(../images/1.png) no-repeat;left:0px;top:210px; cursor: pointer;}
.temptdlsan.on{background-image:url(../images/2.png);}
.temptdlsanright{position:absolute;width:12px;height:83px;background:url(../images/3.png) no-repeat;left:-12px;top:200px;cursor: pointer;}
.temptdlsanright.on{background-image:url(../images/4.png);}
.center{text-align: center; margin: 0 auto;}
/**************************************************************/
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #61ba9e;
  border-color: #4fb393;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #46a285;
  border-color: #3b8970;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #61ba9e;
  border-color: #4fb393;
}
.btn-success .badge {
  color: #61ba9e;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #21b384;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #198764;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
/********************************/
.dataTables_wrapper{
	width:98%;
	margin:0 auto;
	position: relative;
}
.textbox,.select{
	height: 32px;
    border: 1px solid #a7a7a7;
    line-height:32px;
    border-radius: 5px;
    padding:5px;
}
input[type="text"],select
{
 	height: 32px;
    border: 1px solid #a7a7a7;
    line-height:32px;
    border-radius: 5px;
    padding:5px;
}
.line{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-color: #ccc;
    border-top-width: 1px;
    border-top-style: dashed;
}
.padding{
	padding:5px 0;
}
.star{
	color:red;
	margin: 0 5px;
}
.button{
    height: 34px;
    background-color: #007ee5;
    color: #fff;
    line-height: 34px;
    text-align: center;
    font-size: 13px;
    padding: 0 30px;
    cursor: pointer;
     border: 0;
}
.ui-widget-overlay {
    background: #000;
    opacity: 0.7;
    filter: Alpha(Opacity=30);
}
.export {
    height: 34px;
    background-color: #52be80;
    color: #fff;
    line-height: 34px;
    text-align: center;
    font-size: 13px;
    padding: 0 30px;
    cursor: pointer;
    border: 0;
}
.none{
	display:none;
}
.min_header{
    overflow: hidden;
    padding: 20px 20px 20px 40px;
    border-bottom: 1px dashed #b8b9b9;
    font-size:20px;
}
.min_header .title{
        padding: 0;
        font-weight: bold;
}
div.justify { text-align: justify; }
div.justify > span { display: inline-block /* Opera */; padding-left: 100%; }
.map{
	min-width:800px;
	min-height:600px;
	max-width:98%;
	max-height:98%;
}
.hidden{
   visibility: hidden;
}
.btn_edit{
    height: 34px;
    background-color: #52be80;
    color: #fff;
    line-height: 34px;
    text-align: center;
    font-size: 13px;
    padding: 0 30px;
    cursor: pointer;
     border: 0;
}
.disabled{
	background-color: #999;
}